.movie-page-container {
  margin-top: 40px;

  display: flex;
}

.description {
  margin-left: 40px;
}

.movie-large-image-item {
  height: 800px;
}

.movie-page-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.go-back-button {
  display: block;
  margin-top: 100px;
}
.movie-links-item {
  margin: 0 15% 0 15%;
}

.movie-links-item.active {
  color: coral;
}
