@import url(https://www.fontsquirrel.com/fonts/alice);

@font-face {
  font-family: 'Alice';
  src: url('https://www.fontsquirrel.com/fonts/alice');
}

nav-element:focus,
.nav-element:hover,
.nav-element.active {
  color: aqua;
}

.nav-element {
  color: pink;
  font: inherit;
  cursor: pointer;

  font-family: 'Alice', sans-serif;

  transition: color 0.4s ease;
}

.watch-now {
  color: coral;
  font-family: 'Alice', sans-serif;
  font-weight: 600;
  font-size: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
