@import url(https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&display=swap);

@media (max-width: 768px) {
  .side-bar {
    margin-top: 240px;
    position: absolute;
    overflow-y: auto;
    top: 210px;
    z-index: 80;
    left: -300px; /* Приховати сайдбар поза екраном */
    transition: left 0.3s ease;
  }

  .side-bar.open {
    left: 0; /* Показати сайдбар */
  }
}

nav-element:focus,
.nav-element:hover,
.nav-element.active {
  color: aqua;
}

.nav-element {
  color: pink;
  font: inherit;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: 'Dosis', sans-serif;

  transition: color 0.4s ease;
}
