@import-normalize; /* bring in normalize.css styles */
@import url(https://www.fontsquirrel.com/fonts/alice);

body {
  font-family: -apple-system, 'Alice', BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  font-family: 'Choco cooky', sans-serif;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: 'Alice', sans-serif;
}

a {
  font-family: 'Alice', sans-serif;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
